* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

$primary-color: #DD5F32;
$secondary-color: #E19D29;
$tertiary-color: #92B06A;
$quatro-color: #ADC4CC;
$cinco-color: #4298B5;

body {
	background-color: $quatro-color;
}

.todo-container {
	background-color: $tertiary-color;
	height: 700px;
  margin: 20px
}

#todo-form-container {
	margin: 16px;
}

.todo-input {
	color: $secondary-color;
}

h3 {
	text-align: center;
	color: $primary-color;
	padding-top: 21px
}
