* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

$primary-color: #DD5F32;
$secondary-color: #E19D29;
$tertiary-color: #92B06A;
$quatro-color: #ADC4CC;
$cinco-color: #4298B5;

body {
	background-color: $quatro-color;
}

.todo-container {
	background-color: $tertiary-color;
	height: 700px;
  margin: 20px;
	border: solid 2px white;

}


#todo-form-container {
	margin: 16px;

}

.todo-input {
	color: white;

}
.input-row {
	display: block;
}
.input-field {
	width: 100%;
	display: inline-block;
}
.add-button {
	padding-top: 10px;
}
.collection {
	width: 95%;
	margin: 0 auto;
}
h3 {
	text-align: center;
	color: $quatro-color;
	padding-top: 21px;
	padding-bottom: 16px;
}

.checkbox {
	opacity: 1;
	left: 1;
	
}

.todo-list-item {
	i {
		padding-top: 0px;
	}
	a {

		align-self: right;

	}
	p {
		padding-right: 20px;
	}


	display: flex;
	padding-left: 20px;
	padding-bottom: 10px;
}
